button.standard:disabled {
    color: #666;
}

.signup-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 40px;
    padding: 20px;
}

.signup-header {
    align-self: center;
}

.signup-error {
    color: red;
    font-weight: bold;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.signup-form-labels {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.signup-inputs {
    width: max-content;
}

.signup-button {
    margin: 10px;
    background-color: blue;
    color: white;
    padding: 5px;
}
