.tile-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px 50px;
}

.spot-tile {
    box-sizing: border-box;
    flex: 0 0 250px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
}
